
.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }
.navbar{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-top: 50px;


}
.nav-title{
    font-size: 28px;
font-weight: 800;
margin-top: 50px;
}

.nav-button{
    
    box-sizing: border-box;
    border-radius: 8px;
    opacity: 0.8;
    margin-top: 35px;
    margin-right: 166px;
    width: 228px;
    height: 58px;
    font-weight: 700;
    color: rgb(13, 19, 33);
    
}
.header-main{
    height: 652px;
    
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(Hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    

}
.header-pic{
    width: 240.28px;
    height: 220px;
}
.header-title{
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    margin-left: 221px;
    margin-right: 221px;
    margin-top: 32px;
    text-align: center;

}
.header-description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
}
.contact-btn{
    border-radius: 8px;
    background-color: black;
    color: white;
    width: 208px;
    height: 66px;
    margin-top: 40px;
    font-weight: 600;
}
.why-dev{
    
    width: 946px;
    height: 1235px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 100px;
}
.why-dev-text{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    margin-left: 270px;
    margin-bottom: 30px;

}
.why-dev-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-left: 47px;
    text-align: center;

}
.details1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sub-details1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 96px;
   

}
.left-details1-title{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;

}
.left-details1-describe{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;

}
.right-details1-pic{
    width: 259.56px;
    height: 217.01px;

}
.learn-more-btn{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    width: 150px;
    height: 48px;
    margin-top: 20px;
    font-weight: 600;
    background-color: white;

}
.sub-details2{
    display: flex;
    margin-top: 147px;
}
.right-details2{
    margin-left: 50px;
}
.left-details2-title{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;

}
.left-details2-pic{
    width: 240px;
    height: 240px;
}
.right-details3-pic{
    width: 240px;
height: 240px;
}
.inpiration{
    
    width: 1140px;
    height: 777px;
    margin: 0 auto;

}
.my-inspire-text{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    padding-left: 430px;
    margin-bottom: 30px;
}
.video-box{
    width: 1140px;
    height: 614px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.iframe-video{
    width: 1076px;
    height: 550px;
    border-radius: 16px;
    
}
.target{
    width: 1140px;
    height: 463px;
    margin: 0 auto;
    margin-top: 150px;
}
.current-target{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 19px;
    font-weight: 800;
    
}
.target-describe{
    text-align: center;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}
.skillbox1{
    width: 364px;
    height: 300px;
    background: rgba(255, 76, 30, 0.09);;
}
.skillbox2{
    width: 364px;
    height: 300px;
    background: rgba(0, 76, 232, 0.09);
}
.skillbox3{
    width: 364px;
    height: 300px;
    background: rgba(255, 223, 0, 0.09);
}
.skill-set{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.skill-logo{
    width: 39.68px;
    height: 45px;
}
.skill-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    
}
.skill-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}
.learnmore{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    border: none;
    text-decoration: underline;
    width: 110px;
    height: 24px;
    background-color: transparent;
}
.skill1{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.skill2{
    
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.skill3{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.support{
    border-radius: 16px;
    width: 1140px;
    height: 314px;
    margin: 0 auto;
    margin-top: 70px;
    background-image: url(handshake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.support-text{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;

}
.support-description{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}
.support-input{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 548px;
    height: 57px;
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
}
.submit-btn{
    width: 120px;
    height: 58px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
}
.footer{
    
    height: 100px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.footer-text{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    margin-left: 150px;
}
.facebook{
    width: 36px;
    height: 36px;
    
}
.logos{
    margin-right: 150px;
}

